body{
    background-color:aqua;
    color:rgb(54, 26, 58);
    font-family: Arial, sans-serif;
}
header{
    background-color:pink;
    color:dodgerblue;
    text-align: center;
    padding: 30px;
}

h1 {
font-size: 36px;
}

h2 {
    color:cornflowerblue;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
